    <ul>
      <li>
        <% if display_zelda_link %>
          <%= link_to zelda.character, zelda_path(zelda) %>
        <% else %>
          <strong>Character:</strong> <%= song.character %><br />
          <strong>Location:</strong> <%= song.location %>
        <% end %>
      </li>
    </ul>
    