    <ul>
      <% if display_zelda_link %>
        <li><%= link_to zelda.character, zelda_path(zelda) %></li>
      <% else %>
        <li><strong>Character:</strong> <%= zelda.character %></li>
        <li><strong>Location:</strong> <%= zelda.location %></li>
      <% end %>
    </ul>
    